.text_btns {
  font: 14px "Helvetica Neue", Helvetica, Arial, sans-serif;    
}

.text_btns #previous_btn {
  float: left;
}

.text_btns #next_btn {
  float: right;
}

#bar {
  height: 90px;
  padding: 5px;
  fill: blue;
  border: 1px solid blue;
}

#bar-container {
  padding: 5px;  
}

.bar-text {
  font: 14px "Helvetica Neue", Helvetica, Arial, sans-serif;  
}

.bar-text #bar-title {
  font-size: 20px;
}

.node {
  cursor: pointer;
}

.node:hover {
  stroke: #000;
  stroke-width: 1.5px;
}

.node--leaf {
  fill: white;
}

.label {
  font: 12px "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-anchor: middle;
  text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff, 0 -1px 0 #fff;
  opacity: 0;
}

.label:hover {
  opacity: 1;
}

.node--root,
.node--leaf {
  pointer-events: none;
}

#loading {
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  position: fixed;
  display: none; 
  z-index: 99;
  background: rgba(0,0,0,0)
}

#loading-image {
  position: absolute;
  top: 40%;
  left: 45%;
  z-index: 100
} 

#map-canvas { 
  float: right;
  margin: 0;
  padding: 0;
  width: 600px; 
  height: 500px;
  position: fixed;
}
