<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <!-- CSS for maps and D3 -->
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/index.css')}}"> 
  </head>

  <body>
    <div style="display:none", id="loading">
      <img id="loading-image" src="{{url_for('static', filename='img/loading.gif')}}" alt="Loading..." />
    </div>  
    <div>
      <p>
        <input id="text_field" type="text" name="search_term" placeholder="Enter your search term here" height="56">
        <button type="button" class="text_btns" id="btn_search">Search</button>
      </p>
    </div>
    <div id="bar-container">
      <div id="bar">
        <div class="bar-text">
          <div id="bar-title"></div>
          <div id="bar-info"></div>
          <div class="text_btns">
            <button type="button" id="previous_btn">Previous</div>
            <button type="button" id="next_btn">Next</div>
          </div>
        </div>
    <div>
      <div id="map-canvas"></div>
    </div>
    <br>

    <!-- JavaScript for D3 and Google Maps -->
    <script src="https://maps.googleapis.com/maps/api/js" type="text/javascript"></script>
    <script src="{{url_for('static', filename='d3/d3.v3.min.js')}}" type="text/javascript"></script>
    <script src="{{url_for('static', filename='js/d3andmaps.js')}}" type="text/javascript"></script>
  </body> 
</html>